<div id="footer">
  <div class="container text-center">
    <small id="signature">
      <span class="glyphicon glyphicon-copyright-mark
      " aria-hidden="true"></span>
      2015 Lovingly made in Colorado at Turing School of Software & Design by Sebastian Abondano
    </small>
  </div>
</div>
