<div class="container-fluid container-welcome">
  <div class="col-md-8 col-md-offset-2">
    <%= image_tag "episode_hunt_logo_white.png", size: "50x43" %>
    <h1 class="welcome">The best the podcast world has to offer.</h1>
    <h3 class="welcome">Listen to only the best episodes and do not waste time on mediocrity.</h2>
    <%= link_to "Log In", root_path, class: "btn btn-lg btn-default btn-welcome" %>
  </div>
</div>







