#body-welcome {
  background: linear-gradient(to right, #FF0018 0%, #FF0018 55%, #FF3700 100%);
  .container-welcome {
    padding-top: 30vh;
    text-align: center;
    .welcome {
      color: white;
      font-weight: 100;
    }
    h3.welcome {
      font-weight: 200;
      opacity: 0.5;
    }
    a.btn.btn-lg.btn-default.btn-welcome {
      width: 150px;
      color: white;
      margin-top: 5vh;
      background-color: transparent;
      border: 1px solid rgba(255,255,255,0.3);
    }

    a.btn.btn-lg.btn-default.btn-welcome:hover {
      background: #fff;
      color: #FF3700;
    }
  }
}

body {
  background-color: #f5f8fa;
}

.navbar-dashboard {
  background-color: #fff;
  .logo {
    display: inline-block;
    width: 30px;
    height: 26px;
    position: absolute;
    left: 50%;
    margin-top: 14px;
  }
}
