#body-welcome {
  background: linear-gradient(to right, #FF0018 0%, #FF3700 100%);
  .container-welcome {
    padding-top: 30vh;
    text-align: center;
    .welcome {
      color: white;
      font-weight: 100;
    }
    h3.welcome {
      font-weight: 200;
      opacity: 0.5;
    }
    a.btn.btn-lg.btn-default.btn-welcome {
      width: 150px;
      color: white;
      margin-top: 5vh;
      background-color: transparent;
      border: 1px solid rgba(255,255,255,0.3);
    }

    a.btn.btn-lg.btn-default.btn-welcome:hover {
      background: #fff;
      color: #FF3700;
    }
  }
}

body {
  background-color: #fdf7f7;
}

.navbar-dashboard {
  background-color: #fff;
  .logo {
    display: inline-block;
    width: 30px;
    height: 26px;
    position: absolute;
    left: 50%;
    margin-top: 14px;
  }
  .dropdown-toggle {
    padding: 14px 40px 36px 15px;
    width: 50px;
    height: 35px;
    .glyphicon-option-horizontal {
      font-size: 24px;
      &:hover {
        color: rgba(232, 22, 0, 0.5);
      }
    }
  }
  #submit-episode {
    cursor: pointer;
    padding-top: 18px;
    padding-bottom: 12px;
    &:hover {
      color: rgba(232, 22, 0, 0.5);
    }
    .glyphicon-plus {
      font-size: 16px;
    }
  }
}

.subnavbar {
  margin-top: 50px;
}

.dashboard-profile-card {
  border: 1px solid #e1e8ed;
  background: #FFF;
  border-radius: 6px; 
  .screen-name {
    margin-top: -10px;
  }
  .avatar {
    float: left;
    background-color: #fff;
    border-radius: 6px;
    margin: 10px 10px 0 8px;
    padding: 1px;
    vertical-align: bottom;
  }
  .user-fields {
    margin-top: 0px;
  }
  .stats {
    margin-top: 10px;
    margin-bottom: 5px;
    .first-stat-group {
      padding-left: 10px;
    }
    .stat-label {
      color: #8c9ca9; 
      font-size: 10px;
    }
    .stat-value {
      display: block;
      font-size: 18px;
      font-weight: 500;
      color: rgba(232, 22, 0, 0.5);
    }
  }
}

.episode {
  border: 1px solid #e1e8ed;
  background: #FFF;
  border-radius: 6px; 
  padding: 12px;
  &:hover {
    .upvotes {
      font-size: 16px;
      transition: font-size .2s;
    }
  }
  .upvotes {
    text-align: center;
    margin-top: 35px;
    &:hover {
      color: rgba(255, 55, 0, 0.8);
    }
  }
  .upvote-value {
    display: block;
  }
  .thumbnail-podcast {
    border-radius: 6px;
    vertical-align: top;
  }
  .episode-title {
    margin: 0px;
  }
  .episode-details {
    display: block;
    color: #8c9ca9;
    font-size: 13px;
  }
  audio {
    margin-top: 20px;
  }
}

.episode-submission-form {
  display: none;
  padding-bottom: 45px;
  background-color: rgba(255, 0, 24, 0.05);
  #episode {
    margin-bottom: 10px;
  }
  .btn-submit-episode {
    background-color: rgba(255, 0, 24, 1);
    color: white;
    float: right;
  }
}
