<nav class="navbar navbar-default navbar-fixed-top navbar-dashboard">
  <div class="container">
    <%= image_tag "episode_hunt_logo_red.png", class: "logo" %>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Log out", root_path %>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<nav class="navbar navbar-default subnavbar">
  <div class="container">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Ruby Rogues</a>
        </li>
      </ul>
  </div>
</nav>
